
.travel_wall_item-2 {
  background-color: var(--bg);
  padding: 3rem;
  box-shadow: 0rem 1.4rem 2.1rem -0.1rem rgba(6, 25, 56, 0.08);
  border-radius: 1.2rem;
  width: 100%;
  margin-bottom: 3rem;
}
.package_info {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.travel_wall_item-2 .package_info p,
h5,
span
 {
  font-family: Rubik;
  color: #444444;
  font-weight: normal;
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 24px;
}
.day_two p>a{
  font-family: Rubik;
  color: #444444;
  font-weight: normal;
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 24px;
}
.video_container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}
.video {
  width: 48.5%;
}
.video iframe {
    width: 100%;
}
.video_ditails {
  width: 48.5%;
  padding-top: 1rem;
}
.video_ditails span {
  font-family: Rubik;
  color: #000000;
  font-weight: normal;
  font-size: 2rem;
}
.video_ditails p {
  font-family: Rubik;
  color: #000000;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.video_uploader {
  display: flex;
  justify-content: flex-start;
  align-items: content;
  padding: 2rem 0;
}
.video_uploader figure img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1.2rem;
}
.video_uploader h5 {     
  font-family: Rubik;
  font-weight: normal;
  font-size: 2rem;
  color: #000000;
}